.shakil{
    color: brown; background-color: aqua; border: 8px solid black;
}

.sakib{
    color: darkorchid; background-color: antiquewhite; font-size: xx-large; border: 8px solid yellow;
}

.passport{
    color: blue; background-color: aqua; font-size: medium; border: 10px solid black;
}

.soton{
    color: aqua; background-color: blue; font-size: 50px; border: 10px solid yellow; background-position: 0%;
}

.BUS{
    font-size: 50PX; background-color: aqua; color: blueviolet; border: 8px solid magenta;
}
.jhon{
    color: blue; background-color: aqua; font-size: 80px; border: 5px solid black;
}
.COMPUTER{
    color: brown; background-color: chartreuse; font-size: 100px; border: 6PX solid navajowhite;
}

.xox{
    color: red; font-size: 100px; background-color: aqua; border: 10px solid blue; background-position: 0;
}
.renu{
    color: rgb(31, 16, 240); font-size: 100px; background-color: aqua; border: 10px solid black;
}
.see{
    color: brown; font-size: 100px; background-color: aqua; border: 15px solid yellow;
}
.hotat{
    color: rgb(146, 113, 73); font-size: 150px; background-color: rgb(54, 224, 173); border: 15px solid navy;
}
.roktima{
    color: gold; font-size: 80px; background-color: darkcyan; border: 20px solid blue;
}
.ma{
    color: cyan; background-color: chocolate; font-size: 60px; border: 16px solid lawngreen;
}
.tumi{
    color: lightsalmon; background-color: rgb(83, 95, 95); font-size: 150px; border: 20px solid mediumturquoise;
}
.MAMUN{
    color: fuchsia; font-size: 90px; background-color: chartreuse; border: 18PX solid olivedrab;
}